[submodule "mapnik"]
	path = mapnik
	url = git://github.com/paulyc/mapnik.git
[submodule "openstreetmap-carto"]
	path = openstreetmap-carto
	url = git://github.com/paulyc/mopenstreetmap-carto.git
[submodule "nginx"]
	path = nginx
	url = git://github.com/nginx/nginx.git
[submodule "luajit2"]
	path = luajit2
	url = git://github.com/openresty/luajit2.git
[submodule "ngx_devel_kit"]
	path = ngx_devel_kit
	url = git://github.com/simplresty/ngx_devel_kit.git
[submodule "osm2pgsql"]
	path = osm2pgsql
	url = git://github.com/openstreetmap/osm2pgsql.git
[submodule "PROJ"]
	path = PROJ
	url = git://github.com/OSGeo/PROJ.git
[submodule "lua-nginx-module"]
	path = lua-nginx-module
	url = git://github.com/openresty/lua-nginx-module.git
[submodule "lua-resty-core"]
	path = lua-resty-core
	url = git://github.com/openresty/lua-resty-core.git
[submodule "lua-resty-lrucache"]
	path = lua-resty-lrucache
	url = git://github.com/openresty/lua-resty-lrucache.git
[submodule "libosmium"]
	path = libosmium
	url = git://github.com/osmcode/libosmium.git
[submodule "gdal"]
	path = gdal
	url = git://github.com/OSGeo/gdal.git
[submodule "grass"]
	path = grass
	url = git://github.com/paulyc/grass.git
[submodule "grass-addons"]
	path = grass-addons
	url = git://github.com/OSGeo/grass-addons.git
[submodule "QGIS"]
	path = QGIS
	url = git://github.com/qgis/QGIS.git
[submodule "QGIS-Code-Examples"]
	path = QGIS-Code-Examples
	url = git://github.com/qgis/QGIS-Code-Examples.git
[submodule "openmaptiles"]
	path = openmaptiles
	url = git://github.com/openmaptiles/openmaptiles.git
[submodule "osmosis"]
	path = osmosis
	url = git://github.com/openstreetmap/osmosis.git
[submodule "mapsforge"]
	path = mapsforge
	url = git://github.com/mapsforge/mapsforge.git
[submodule "tilemill"]
	path = tilemill
	url = https://github.com/paulyc/tilemill.git
[submodule "osm2vectortiles"]
	path = osm2vectortiles
	url = git://github.com/osm2vectortiles/osm2vectortiles.git
[submodule "mod_tile"]
	path = mod_tile
	url = git://github.com/paulyc/mod_tile.git
[submodule "python-mapnik"]
	path = python-mapnik
	url = git://github.com/mapnik/python-mapnik.git
[submodule "postgres"]
	path = postgres
	url = git@github.com:postgres/postgres.git
[submodule "postgis"]
	path = postgis
	url = https://github.com/postgis/postgis.git
[submodule "tessera"]
	path = tessera
	url = https://github.com/mojodna/tessera.git
[submodule "tilelive-modules"]
	path = tilelive-modules
	url = https://github.com/mojodna/tilelive-modules.git
[submodule "tilelive-raster"]
	path = tilelive-raster
	url = https://github.com/mojodna/tilelive-raster.git
[submodule "vector-tile-server"]
	path = vector-tile-server
	url = https://github.com/artemp/vector-tile-server.git
[submodule "node-mapnik"]
	path = node-mapnik
	url = https://github.com/mapnik/node-mapnik.git
[submodule "tilelive-vector"]
	path = tilelive-vector
	url = https://github.com/mapbox/tilelive-vector.git
[submodule "node-tilejson"]
	path = node-tilejson
	url = https://github.com/mapbox/node-tilejson.git
[submodule "tilelive-carto"]
	path = tilelive-carto
	url = https://github.com/mojodna/tilelive-carto.git
[submodule "tl"]
	path = tl
	url = https://github.com/mojodna/tl.git
[submodule "tilelive-bridge"]
	path = tilelive-bridge
	url = https://github.com/mapbox/tilelive-bridge.git
[submodule "imposm3"]
	path = imposm3
	url = https://github.com/omniscale/imposm3.git
[submodule "geos"]
	path = geos
	url = https://git.osgeo.org/gitea/geos/geos.git
[submodule "tegola"]
	path = tegola
	url = https://github.com/go-spatial/tegola.git
[submodule "tilelive-mapnik"]
	path = tilelive-mapnik
	url = https://github.com/mapbox/tilelive-mapnik.git
[submodule "kartotherian"]
	path = kartotherian
	url = https://github.com/kartotherian/kartotherian.git
[submodule "openmaptiles-tools"]
	path = openmaptiles-tools
	url = https://github.com/openmaptiles/openmaptiles-tools.git
[submodule "tangram"]
	path = tangram
	url = https://github.com/tangrams/tangram.git
